.light-component-switch label input[type=checkbox]:checked+.lever {
    background-color: #e0e0e0;
}

.light-component-switch .lever {
    background-color: #e0e0e0;
}

.light-component-switch label .lever:after {
    background-color: #757575;
}

.light-component-switch label input[type=checkbox]:checked+.lever:after {
    background-color: #fdd835;
}