.btn {
    margin: 0 3px;
}

.card .row {
    margin-bottom: 0 !important;
}

.tabs .tab a {
    color: #607d8b;
}

.tabs .tab a:hover {
    color: #cfd8dc;
}

.tabs .tab a.active {
    color: #607d8b;
}

.tabs .tab a:focus.active {
    background-color: transparent;
}

.tabs .indicator {
    background-color: #b0bec5;
}

.nav-wrapper > span {
    padding: 0 10px;
    white-space: nowrap;
}

#controlPanel {
    margin: 10px 0;
}